<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.architecture.demos.web.mapper.UserDao">
    <resultMap id="userMap" type="User">
        <result column="User_name" property="userName"/>
        <result column="User_passwd" property="userPasswd"/>
    </resultMap>

    <select id="getUserByUsername" resultMap="userMap">
        select User_name,User_passwd from user where User_name=#{User_name}
    </select>
</mapper>
